.header{
    width: 100%;
    height: 97px;
    background: #262D34;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.lupa{    
    color:aliceblue;
}

.buscadorIn{
    background: transparent;
    color: aliceblue;
    border: 0;
}

.iconYBuscador{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 5rem;
    align-content: center;
    font-size: 20px;
}
.iconYBuscador img{
    height: 45px;
}


.buscador{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: center;
}


.userIcons{
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    font-size:23px;
    height: 100%;
    align-content: center;
}

.info{
    display: flex;
    flex-wrap: wrap;
    border-right: 2px solid aliceblue ;
    gap: 1rem;
    padding: 0.4rem 2rem ;
    align-content: center;
    align-self: center;
}
.user{
    padding: 1rem;
}

.circleUser{
    border: 2px solid aliceblue ;
    border-radius: 80%;
    padding: 0.5rem;
}

.circleUser img{
    width: 30px;
}